<app-top-nav-bar></app-top-nav-bar>
<app-top-one></app-top-one>
<app-search-bar (data)="getData($event)" (searched)="isSearching($event)"></app-search-bar>
<app-video-display *ngIf="data" [videoUrl]="data.videoUrl"></app-video-display>
<app-data-display  [data]="data" [searched]="searched"></app-data-display>
<app-about></app-about>
<app-top-five></app-top-five>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<app-bottom-nav-bar></app-bottom-nav-bar>

<!-- TODO: <app-data-display [data]="data"-->