<div class="container mt-5">
    <div *ngIf="searched">
        <div *ngIf="!data" class="d-flex justify-content-center mt-5">
            <div class="spinner-border text-danger" style="width: 3rem; height: 3rem;" role="status">
                    <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div *ngIf="data">
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills">
                        <li *ngFor="let option of options"
                            (click)="selectOption(option)"
                            [class.active]="option === selectedOption"
                            class="nav-item mr-1" >
                            <button class="btn btn btn-outline-danger">{{option}}</button>
                        </li>
                    </ul>
                </div>
                <!-- TODO: Make it NgIf, switch displaying data-->
                <div class="card-body" *ngIf="selectedOption === 'Video'">
                    <h5 class="card-title">Data Display Title</h5>
                    <p class="card-text">Data content {{data.videosNumber}}</p>
                </div>
            </div>
        </div>
    </div>
</div>