.nav-link{
    color: black;
}

// TODO: Remove "zoom" box shadow?
.active {
    color: white;
    border-radius: 0.25rem;
    background-color: #dc3545;
    .btn-outline-danger {
        color: white;
    }
}