<div class="container">
    <div class="row text-center font-weight-bold justify-content-center">
        <div class="col-12 mt-5">
            <h2>Get informations about Youtube videos with few clicks!</h2>
        </div>
    </div>
    <form class="form-inline mt-3 w-100 justify-content-center ">
            <input class="form-control form-control-lg w-100" #input type="text" placeholder="Paste video url here" aria-label="Search">
            <button (click)="getData(input.value); input.value=''; " class="btn btn-lg btn-outline-danger mt-2" type="submit">Submit</button>
    </form>
</div>
