/* You can add global styles to this file, and also import other style files */

// Variable override
$danger: #dc3545;
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$dark: $gray-900;
$body-bg: $gray-800;
$body-color: $white;
$component-active-bg: $danger;

// Whole Bootstrap library
@import "~node_modules/bootstrap/scss/bootstrap";

.btn-outline-danger {
    color: white;
}

/*  Must have imports if importing only needed modules

@import "~node_modules/bootstrap/scss/functions";
@import "~node_modules/bootstrap/scss/variables";
@import "~node_modules/bootstrap/scss/mixins";


    Import only the Bootstrap modules you need.
*/
