<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>
        <span class="navbar-brand mb-0 h1">YAYA</span>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav ml-auto">
                <a href="#"
                *ngFor="let option of options" 
                (click)="selectOption(option)"
                class="nav-link nav-item"  [class.active]="option === selectedOption"> <!-- TODO: Add: border border-danger-->
                {{option}}
                </a>
            </div>
        </div>
    </div>
</nav>

